In [1]:
# Load necessary libraries

from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, plot_tree
import matplotlib.pyplot as plt
import re
import sys
from hashlib import sha1
from IPython.display import Image
import numpy as np
import pandas as pd
from sklearn.dummy import DummyClassifier

In [2]:
store_data = pd.read_csv("B:YTÃ© - Store Dataset 2023.csv", index_col=0)
store_data.head()

,Date,Customer_ID,Transaction_ID,SKU_Category,SKU,Quantity,Sales_Amount,Operational_Cost,Customer_Age
0,02/01/2022,3686,3,Skirt,CZUZX,1.0,63.5,44.6,51
1,02/01/2022,3719,4,Skirt,549KK,1.0,55.9,41.1,27
2,02/01/2022,9200,5,Skirt,K8EHH,1.0,68.8,52.6,39
3,02/01/2022,1666,7,Shoes,AHZNS,1.0,82.1,56.7,39
4,02/01/2022,1253,8,Skirt,9STQJ,1.0,82.5,58.7,30